h1 {
  font-size: 20px solid;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(250, 249, 249);
  color-scheme: dark;
  display: block;
  line-height: 28px;
  margin-bottom: 20px;
  margin-top: 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #3D715F;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 20px;
}

li {
  list-style: none;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0;
  color: rgb(250, 249, 249);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  
}

li:first-letter {
text-transform: capitalize; 
}

ul {
  margin: 0;
  padding: 0;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid rgb(250, 249, 249);;
  border-radius: 10px;
}

.weather-temperature img {
  margin-right: 10px;
  float: left;
  height: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  bottom: -3px;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 20px;
  font-weight: 400px;
  color: rgb(14, 8, 8);
  opacity: 0.5;
}

.weather-forecast-temperatures {
font-size: 15px;
font-weight: 400px;
color: rgb(14, 8, 8);

}

.weather-forecast-temperature-min{
  opacity: 0.5;
}