h1 {
  font-size: 20px solid;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(250, 249, 249);
  color-scheme: dark;
  display: block;
  line-height: 28px;
  margin-bottom: 10px;
  margin-top: 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #3D715F;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/094/603/original/peter-vanosdall-jhFabt6zfuI-unsplash.jpg?1692954687");
 
}

small {
  color: #f0f8ff;
}

.container {
  max-width: 600px;
}

li {
  list-style: none;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0;
  color: #022819;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
text-transform: capitalize; 
}

ul {
  margin: 0;
  padding: 0;
}

hr {
  position: relative;
  top: 20px;
  border: none;
  border-radius: 10px;
  height: 8px;
  background: rgba(2, 21, 23, 0.7);
  margin-bottom: 50px;
    }

#navbarMenu .form-inline {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.form-control {
  width: 100%;
  padding: 6px 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  appearance: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  border-width: 3px;

}


.search-bar, .search-button {
  border: 2px solid rgb(53, 79, 82, 0.7);
  background-color: rgb(255, 255, 255, 0.3);
  color: #52796F;
}


.weather-app-wrapper {
  max-width: 600px;
  margin: 10px 15px;
}

.weather-app {
  border: 6px solid rgb(53, 79, 82, 0.7);
  padding: 30px;
  margin: 30px auto;
  margin-bottom: 0;
  width: 600px;
  border-radius: 15px;
  margin-top: 150px;
  font-family: 'Courier New', Courier, monospace;
  color: #52796F;
  box-shadow: -14px -14px 0px 0px rgba(60, 80, 52, 0.9);  
  background: rgb(202, 210, 197, 0.8);
  
}

.weather-temperature{
  margin-right: 10px;
  float: left;
  height: 64px;
  background-color: #3D715F;
  border: #022819;
  border-radius: 10px;
  margin-bottom: 20px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  
  
}

.weather-temperature .units {
  
  font-size: 16px;
  bottom: -3px;
  color:#022819;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 20px;
  font-weight: 400px;
  color: rgb(14, 8, 8);
  opacity: 0.5;
}

.weather-forecast-temperatures {
font-size: 15px;
font-weight: 400px;
color: rgb(14, 8, 8);

}

.weather-forecast-temperature-min{
  opacity: 0.5;
}